:root {
    --accent-color: #2196F3;
    --main-text-color: #212121;
    --secondary-font-family: roboto, sans-serif;
    --secondary-text-color: #757575;

}
/* a:visited {
    color: transparent;
} */
body {
    font-family: roboto, sans-serif;
    color: var(--main-text-color);
}
.link-style-reset {
    text-decoration: none;
}
.list-style-reset {
    list-style: none;
}
/* ==HEADER STYLES START== */
.logo-link {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-accent {
    color: var(--accent-color);
}
.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-contacts-mail,
.header-contacts-phone {
    color: var(--secondary-text-color);
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--accent-color);
}
/* ===HEADER STYLES END=== */
/* ===HERO STYLES START */
.hero-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-modal-button {
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}
.hero-modal-button:hover {
    background-color: #188CE8;;
}
/* ===HERO STYLES END=== */
/* ===BENEFITS STYLES START=== */

.benefits-list-item-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.benefits-list-item-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color)
}
/* ===BENEFITS STYLES END=== */
/* ===ABOUT US STYLES START=== */
.about-us-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
/* ABOUT US STYLES END */
/* OUR TEAM STYLES START */
.our-team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-list-item-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-team-list-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* OUR TEAM STYLES END */
/* FOOTER STYLES START */
.footer-physical-adress {
    color: #FFFFFF;
}
.footer-adress-list-item-link {
    font-style: normal;
    font-size: 14px;
    line-height: 0.58;
    letter-spacing: 0.03em;
}
.footer-mailaddress,
.footer-phonenumber {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.footer-mailaddress:hover,
.footer-phonenumber:hover,
.footer-mailaddress:focus,
.footer-phonenumber:focus {
    color: var(--accent-color);
}
/* FOOTER-STYLES-END */



/* porftolio.html styles */

.link-hover:hover,
.link-hover:focus {
    color: var(--accent-color);
}
.portfolio-filter-item-button {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;  
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    cursor: pointer;
}
.portfolio-filter-item-button:hover,
.portfolio-filter-item-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.portfolio-galery-list-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}
.portgolio-galery-list-item-description {
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}